*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0
}

body {
    font-family: sans-sarif, Arial !important -webkit-transition:all 0.5s ease;
    transition: all o.5s ease;
    background: url("../images/food-bg-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% -44.7368px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p {
    line-height: 150%;
}
.navbar-own {
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 10px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    margin: 4px;
}
.navbar-own:hover , .navbar-own:active{
    text-decoration: none;
    border-bottom: 2px solid #111212;
    color: rgba(0, 0, 0, 0.6);
}

